body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rock {
  color: rgb(148, 81, 81);
 }
 .ghost {
  background-color: rgb(247, 247, 247);
 }
 .eletric {
  background-color: rgb(255, 255, 161);
 }
 .bug {
  background-color: #F6D6A7;
 }
 .poison {
  background-color: #E0A7F6;
 }
 .normal {
  backgroung-color: #F4F4F4;
 }
 .fairy {
  background-color: rgb(255, 192, 203, 0.863);
 }
 .fire {
  backgroung-color: #FBE3DF;
 }
 .grass {
  background-color: #E2F9E1;
 }
 .water {
  background-color: #E0F1FD;
 }
 
 
 .app-container {
 display: Flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 min-height: 100vh;
 padding: 3rem 0.5rem
 }
 .pokemon-container {
 display: Flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 }

 .thumb-container {
  display: Flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }