@import "../../Pokedex.css";


.modal-backdrop {
  width: 100vw;
  height: 100vh;
  overflow: none;
  background: rgba(0, 0, 0, 0.7);
  
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}



.modal{
   width: 60vw;
   height: 45vh;
   background-image: url(./modal-image-background.png);
   background-size: contain;
   z-index: 999;
   align-items: center;
   justify-content: center;
   border-color: black 10px;
   border-radius: 4px;
   
   
}

.modal-informations{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.close-btn {
  background-color: rgb(153, 153, 153);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  color: rgb(0, 0, 0);
  cursor: pointer;
  
}

.modal .name-modal{
  text-transform: capitalize;
  margin-bottom: 16px;
  font-size: 27px;
  font-weight: 500;
  margin-top: 5px;
}

.picture-modal > img {
  margin-top: -25px;
  width: 200px;
  height: 200px;

}

.inf-modal {
  width: 75%;
  height: 25%;
  padding-top: 8px;
  text-transform: capitalize;
  font-size: 20px;
  background-color: rgb(116, 177, 235);
  text-align: center;
  border-radius: 15px;
  -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
	-moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
	box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
  
}
